
@*@model IEnumerable<CandyOnlineShopping.Models.Entity.Candy>*@
@model CandyOnlineShopping.Models.ViewModels.CandyListView
@*@model CandyListView*@

<h1>@Model.CurrentCategory</h1>
@foreach (var candy in Model.Candies)
{
    @*<div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@candy.ImageThumbnailUrl" alt="Image not displayed" />
            <div class="caption">
                <h3> @candy.Price.ToString("c")</h3>
                <h3><a asp-controller="Candy" asp-action="Details" asp-route-id="@candy.Id">@candy.Name</a></h3>
                <h3>@candy.Name</h3>
                <p>@candy.Description</p>
            </div>
        </div>

    </div>*@

    <partial name="_Candy" model="candy" />
}